@font-face {
  font-family: 'Arvo';
  src: local('Arvo'), url(./fonts/Arvo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lemon';
  src: local('Lemon'), url(./fonts/LEMONMILK-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Medium.ttf) format('truetype');
}

.App {
  background-color: #d6e5f5;
}
